<h1 class="header">Metra Tracker</h1>
<ul id="choices">
  <li><a id="yes-metra" href="#">I am riding the Metra right now!</a></li>
  <li><a id="no-metra" href="#">No Metra riding for me at present.</a></li>
</ul>

<div id="late-or-not" style="display: none;">
  <h2 class="header">Great. But is your train on schedule?</h2>
  <ul>
    <li><a id="on-time" href="#">Yes. We're like a well-oiled machine.</a></li>
    <li><a id="is-late" href="#">No. :(</a></li>
  </ul>
</div>

<div id="what-is-up" style="display: none;">
  <h2 class="header">OK. Here's what's up.</h2>
  <div id="status"><img src="/ajax-loader.gif" /></div>
</div>

<h2 id="try-again" class="header with-link" style="display: none;">
  Come <a href="/">back</a> when you're actually riding a train. Mkay?
</h2>

<script>
function locate(onTime) {
  $("#late-or-not").slideUp();
  $("#what-is-up").slideDown();
  
  MetraTracker.locateRider(onTime, function(locationResponse) {
    var status;
    if (locationResponse.success) {
      status = locationResponse.data;
    } else {
      status = "Actually, I can't figure out what's going on. Try " + '<a href="/">starting over</a>.' + " Mkay?";
    }
    $("#status").html(status);
  });
}
$("#on-time").click(function() {
  locate(true);
});
$("#is-late").click(function() {
  locate(false);
});
$("#yes-metra").click(function() {
  $("#choices").slideUp();
  $("#late-or-not").slideDown();
});
$("#no-metra").click(function() {
  $("#choices").slideUp();
  $("#try-again").slideDown();
});
</script>