<h1 class="header">Metra Tracker</h1>
<ul id="choices">
  <li><a id="yes-metra" href="#">I am riding the Metra right now!</a></li>
  <li><a id="no-metra" href="#">No Metra riding for me at present.</a></li>
</ul>

<div id="train-lines" style="display: none;">
  <h2 class="header">On which line are you riding?</h2>
  <ul>
  <% MetraTracker.lines.each do |line| %>
    <li><a href="<%= line.line_key %>"><%= line.name %></a></li>
  <% end %>
  </ul>
</div>

<h2 id="try-again" class="header with-link" style="display: none;">
  Come <a href="/">back</a> when you're actually riding a train. Mkay?
</h2>

<script>
$("#yes-metra").click(function() {
  MetraTracker.locateRider();
  $("#choices").slideUp();
  $("#train-lines").slideDown();
});
$("#no-metra").click(function() {
  $("#choices").slideUp();
  $("#try-again").slideDown();
});
</script>