<h1 class="header">Metra Tracker</h1>
<ul id="choices">
  <li><a id="yes-metra" href="#">I am riding the Metra right now!</a></li>
  <li><a id="no-metra" href="#">No Metra riding for me at present.</a></li>
</ul>

<div id="train-line" style="display: none;">
  <h2 class="header">Cool. Here's what's up.</h2>
  <div id="status"><img src="http://producttweet.com/images/spinner.gif" /></div>
</div>

<h2 id="try-again" class="header with-link" style="display: none;">
  Come <a href="/">back</a> when you're actually riding a train. Mkay?
</h2>

<script>
$("#yes-metra").click(function() {
  MetraTracker.locateRider(function(info) {
    $("#status").html(info);
  });

  $("#choices").slideUp();
  $("#train-line").slideDown();
});
$("#no-metra").click(function() {
  $("#choices").slideUp();
  $("#try-again").slideDown();
});
</script>