<html>
  <head>  
    <title>Metra Tracker</title>
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="http://code.google.com/apis/gears/gears_init.js" type="text/javascript" charset="utf-8"></script> 
  	<script src="http://geo-location-javascript.googlecode.com/svn-history/r64/trunk/js/geo.js" type="text/javascript" charset="utf-8"></script>
  	
  	<script src="/metra-tracker.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>